.carouselContainer {
    margin-top: 50px;
    position: relative;
    height: 415px;
    width: 100%;
    border-radius: 25px;

    &__display {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &--img {
            border-radius: 25px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

    }


    &__controls {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--position {
            align-self: end;
            color: white;
            padding: 25px;
            font-size: 18px;
        }


        &--btn {
            cursor: pointer;
        }
    }

}


@media screen and (max-width: 768px) {

    .carouselContainer {
        margin-top: 27px;
        height: 255px;
        border-radius: 10px;

        &__display {

            img {
                border-radius: 10px;
            }
        }


        &__controls {

            &--position {
                display: none;
            }

            &--btn {
                img {
                    height: 24px;
                }

            }
        }
    }
};