$backgroundCollapse: #ff6060;
$backgroundCollapseContent: #f6f6f6;

.collapse {
    width: 100%;
    max-width: 582px;
}

.collapse__title {
    background-color: $backgroundCollapse;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;

    &--text {
        color: white;
        padding: 10px;
        padding: 10px 20px 10px 10px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;        
        position: relative;

    }
}

.collapse__content {
    background-color: $backgroundCollapseContent;
    overflow: hidden;
    transition: height 0.3s ease;
}

.collapse__inner-content {
    padding: 20px;
}

.collapse__icon {
    transition: transform 0.3s ease; /* Transition pour une rotation fluide */
}

.collapse__icon.rotate {
    transform: rotate(-180deg); /* Rotation de 180 degrés lorsque l'icône est active */
}