@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); // Mini reset
@import url('/sass/header.scss');
@import url('/sass/banner-pages.scss');
@import url('/sass/home.scss');
@import url('/sass/footer.scss');
@import url('/sass/notfound.scss');
@import url('/sass/collapse.scss');
@import url('/sass/logementdetail.scss');
@import url('/sass/ratinghost.scss');

html, body {
    font-family: 'Montserrat';
    margin: 0;
    height: 100%;
}

#root {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.maxWidth {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    

}


main {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

