$backgroundCollapse: #ff6060;
$backgroundCollapseContent: rgba(246, 246, 246, 0.45);

.collapse {
    width: 100%; 
}

.collapse__title {
    background-color: $backgroundCollapse;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    position: relative;

    &--text {
        color: white;
        padding: 10px;
        padding: 10px 20px 10px 10px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
}

.collapse__content {
    margin-top: -10px;
    background-color: $backgroundCollapseContent;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.collapse__inner-content {
    padding: 20px;
}

.collapse__icon {
    transition: transform 0.3s ease; /* Transition pour une rotation fluide */
}

.collapse__icon.rotate {
    transform: rotate(-180deg); /* Rotation de 180 degrés lorsque l'icône est active */
}

@media screen and (max-width: 768px) {

    .collapse__title {
        border-radius: 5px;
        height: 30px;

        &--text {
            font-size: 13px;
            padding: 10px;;
        }
       
    }

    .collapse__icon {
        width: 16px;;
    }


}